body {
  padding: 10% 30%;
  text-align: center;
  background-color: #D0D1D4;
}

#container {
  background-color: white;
  width: 200px;
  margin: auto;
  padding: 30;
  border-radius: 10px;
}

button {
  width: 170px;
  cursor: pointer;
}

#register {
  border: 3px solid;
  border-radius: 10px;
  margin-top: 20px;
}
